* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: linear-gradient(
    #1354a5 0%,
    #041832 33.33%,
    #041832 66.67%,
    #01080e 100%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  background-image: url('../img/code.png');
  background-repeat: no-repeat;
  background-position: right;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.main-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container__game {
  width: 70%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  border: 1px solid #1875e8;
  box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
  background-image: url('../img/Ruido.png');
  background-size: 100% 100%;
  position: relative;
}

.container__contenido {
  display: flex;
  align-items: center;
  position: absolute;
}

.container__puntaje {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: start;
}

.container__informaciones {
  flex: 1;
  padding: 3rem;
}

.container__boton {
  border-radius: 16px;
  background: #1875e8;
  padding: 16px 24px;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  margin-top: 2rem;
}

.container__boton:disabled {
  background: #898989;
}

.container__texto {
  margin: 2rem 0 2rem 0;
}

.container__texto-azul {
  color: #1875e8;
}

.container__input {
  width: 100%;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  border: none;
  color: #1875e8;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.container__botones {
  display: flex;
  gap: 2em;
}

.container__scoreboard {
  flex: 1;
  height: 65%;
  padding: 2rem;
  background-image: url('../img/Ruido.png');
  border: 1px solid #1875e8;
  border-radius: 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100% 100%;
  -webkit-overflow-scrolling: touch;
}

.container__imagen-persona {
  max-width: 50%;
  object-fit: cover;
}

.container__scoreboard h2 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.container__scoreboard table {
  width: 100%;
  border-collapse: collapse;
}

.container__scoreboard th,
.container__scoreboard td {
  padding: 0.8rem;
  text-align: center;
  border-bottom: 1px solud rgba(255, 255, 255, 0.2);
  font-family: 'Inter', sans-serif;
}

.container__scoreboard th {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: rgb(255, 255, 255, 0.1);
}

.container__scoreboard td {
  color: #ffffff;
  font-size: 0.8rem;
}

.container__scoreboard tr:nth-child(even) {
  background-color: rgb(255, 255, 255, 0.1);
}

.container__scoreboard tr:hover {
  background: rgba(255, 255, 255, 0.2);
}

h1 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 3rem;
}

p,
button {
  font-family: 'Inter', sans-serif;
}

.texto__parrafo {
  font-size: 2rem;
  font-weight: 400;
}

.container__scoreboard::-webkit-scrollbar {
  background-color: transparent;
  width: 1vh;
  height: 1vh;
  border: none;
}

.container__scoreboard::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(0, 132, 255, 0.6);
}

.container__scoreboard::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 132, 255, 0.8);
}

.container__scoreboard::-webkit-scrollbar-track {
  border-radius: 8px;
}

.container__scoreboard::-webkit-scrollbar-corner {
  background-color: transparent;
}

@media (max-height: 768px) {
  .container__game,
  .container__scoreboard {
    height: 90%;
  }
  .main-container {
    width: 90%;
    height: 100%;
  }
}

@media (max-width: 414px) {
  .main-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .container__game,
  .container__scoreboard {
    width: 100%;
    height: 50%;
    gap: 0;
  }

  .container__game {
    order: 1;
  }

  .container__scoreboard {
    order: 2;
  }

  .container__informaciones,
  .container__puntaje,
  .container__input,
  .container__botones {
    width: 100%;
  }

  .container__texto h1 {
    font-size: 1.5rem;
  }

  .texto__parrafo {
    font-size: 1rem;
  }

  .container__boton {
    font-size: 0.8rem;
    border-radius: 0.5rem;
  }

  .container__input {
    padding: 1rem;
    font-size: 1rem;
  }

  .container__botones {
    flex-direction: column;
    gap: 0;
  }

  .container__imagen-persona {
    display: none;
  }

  .container__scoreboard h2 {
    font-size: 1.2rem;
  }

  .container__scoreboard th,
  .container__scoreboard td {
    font-size: 0.7rem;
  }
}
